@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid transparent;
  border-top: 8px solid #b474f0;
  border-bottom: 8px solid #4d0b7c;
  border-radius: 50%;

  animation: spin 1.5s linear infinite;
}
