.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  margin-block: 30px;
}

.apiErrorMessage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  width: 380px;
  padding: 20px;
  border-radius: 20px;

  font-size: 1.5rem;
  color: #721c24;

  background-color: #dff9f9c2;
}

@media screen and (width <= 475px) {
  .apiErrorMessage {
    width: 280px;
  }
}

@media screen and (width <= 768px) {
  .header {
    flex-direction: column;
  }
}
